---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "James",
  country: "United States",
  occupation: "technology and administration",
  hobbies: ["reading about computer technology", "playing co-op video games", "programming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in the {identity.country} and I work in {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>My hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
        }
    </ul>
        <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
